{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% extends "base2.html" %}

{% block content %}
  <!-- <div class="container">
    <div class="row justify-content-center">
      <h1 class="login_head">Log in geoTree Planting System</h1>
    </div>
 
    <div class="row justify-content-center">
      <form class="login_form" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        {{ login_user_form.hidden_tag() }}
      <p>
        {{ render_field_with_errors(login_user_form.email, label='Username') }}
        
      </p>
        {{ render_field_with_errors(login_user_form.password) }} <br>
        {{ render_field_with_errors(login_user_form.remember, checked='checked') }}
        {{ render_field(login_user_form.next) }}
        {{ render_field(login_user_form.submit) }}
      </form>
    </div>
  </div> -->

  <div class="container-fluid">
    <div class="row justify-content-center">
        <h1 class="login_head">Log in to Seed Crop Isolation web GIS tool</h1>
    </div>
  
    <div class="row justify-content-center">
        <h2 style="color: #d85E01;font-weight: 700;padding: 0px 20px 35px 20px;text-align: center;">Minimise the potential for crop failure.</h2>
    </div>
  
    <div class="row justify-content-center" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 0px 4px 4px;">       
      <div id="col-img" class="col-md-4">
            <!-- <img class="bg-img" src="{{ url_for('static', filename='img/tree_forico.jpg') }}"/>  -->
      </div> 
          
          <!-- <div class="col-md-8" align="center">  
            <form class="container" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
              {{ login_user_form.hidden_tag() }}
              <div class="simple_form">
                {{ render_field_with_errors(login_user_form.email, label='email') }}
                {{ render_field_with_errors(login_user_form.password) }}<br>
                {{ render_field_with_errors(login_user_form.remember, checked='checked') }}
                {{ render_field(login_user_form.next) }}
                {{ render_field(login_user_form.submit) }}
      
                Adding link for Registration 
                <h3 style="text-align: center;padding-top: 20px; font-weight: 700;">New to geoTree Planting? 
                  <a href="/register_user" style="text-decoration: underline;"> REGISTER HERE</a>
                </h3>
              </div>      
            </form>      
          </div> -->
      <div class="col-md-8" align="center"  style="border-radius: 0px 4px 4px;">
        <form class="login_form" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
          {{ login_user_form.hidden_tag() }}
          <div class="simple_form">
              {{ render_field_with_errors(login_user_form.email, label='email', placeholder='as in the registration') }}
              {{ render_field_with_errors(login_user_form.password) }}
              {{ render_field_with_errors(login_user_form.remember, checked='checked') }}
              {{ render_field(login_user_form.next) }}
              {{ render_field(login_user_form.submit) }}
        
              <!-- Adding link for Registration -->
              <h3 style="text-align: center;padding-top: 20px">New to Seed Crop Isolation? 
                <a href="/register_user" style="text-decoration: underline;"> REGISTER</a>
              </h3>
          </div>      
        </form>      
      </div>
    </div>

  </div>
  <br>
   
  </div>
{% endblock %}