{% from "security/_macros.html" import render_field_with_errors, render_field %}
<!-- {% include "security/_messages.html" %} -->
<!-- {% extends "base.html" %} -->
{% extends "base2.html" %}

{% block content %}
<div class="container">
  <h1>{{ _('Register') }}</h1>
  <div class="row justify-content-center">
    <form id="register_form" action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
      {{ register_user_form.hidden_tag(placeholder='yourname') }}
      {{ render_field_with_errors(register_user_form.email, placeholder='yourname@email.com') }}
      {{ render_field_with_errors(register_user_form.password) }}
      {% if register_user_form.password_confirm %}
        {{ render_field_with_errors(register_user_form.password_confirm) }}
      {% endif %}
      {{ render_field(register_user_form.submit) }}
    </form>
  </div>
</div>

<!-- {% include "security/_menu.html" %} -->

{% endblock %}
