#buttons{
	margin: auto;
/*	width: 50%;*/
	min-width: 200px;
}

.link_set{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    /*display: table;*/
    /*margin: auto;*/
    align-items: stretch;
}

.home_button{
    padding: 1em;
    margin: 1em;
    border: 2px solid rgba(209,180,115,0.05);
    text-align: center;
    transition: 250ms;
    background-color: #a3af89;
    font-size: 18px;
    min-width: 150px;
    border-radius: 5px;
    cursor: pointer;
}

.home_button:hover{
    /*border: 2px solid #be1f1c;*/
    background-color:#be1f1c;
}

.home_links a{
	font-size: large;
}


.home_button_map{
    padding: 1em;
    margin: 1em;
    border: 2px solid rgba(209,180,115,0.05);
    text-align: center;
    transition: 250ms;
    background-color: #a3af89;
    font-size: 22px;
    min-width: 515px;
    border-radius: 5px;
    cursor: pointer;
}

.home_button_map:hover{
    /*border: 2px solid #be1f1c;*/
    background-color:#be1f1c;
}


.help_button {
    position: relative;
    top:32px;
    left:280px;
    width:25px;
    height:25px;
    cursor: pointer;
}

.help_button_wide {
    left:310px;
}

#welcome{
	margin: auto;
	text-transform: capitalize;
	text-align: center;
}