body{
	font-family: 'Montserrat', sans-serif;
	/*font-family: lato;*/
	/*background-color: rgba(209,180,115,0.05);*/
	background-color: rgba(170,115,93,0.05);
	margin: 0px;
}

#banner{
	position: relative;
	top: 0;
	z-index: 9999;
}


#MenuButtons a{
	padding-right: 10px;
}

/*Style Navbar*/
#MenuButtons{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex_left{
	display: flex;
	align-items: center;
	justify-items: flex-start;
}

.flex_right{
	display: flex;
	align-items: center;
	justify-items: right;
}

a.dropdown-item{
	width: 100%;
}


.record_action_button{
	/*background-color: rgb(170, 115, 93);*/
    text-align: center;
    font-weight: bold;
    padding: 10px 4px;
	border-radius: 6px;
	text-decoration: none;
}

.record_action_button a:hover{
	text-decoration: underline;
}

.record_action_button a{
	color: white;
	font-size: medium;
	text-decoration: none;

	/*background-color: rgb(170, 115, 93);*/
	background-color: #a3af89;
    text-align: center;
    font-weight: normal;
    padding: 10px 4px;
	border-radius: 6px;
}


#AppHeadingText {
	/*background-color: rgba(193,148,59,1);*/
	background-color: #e8ebe1;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
	color:#8c9b6c;
}

/**STYLING FONT (Generic)**/
h1 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1.4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-align: left;
    -webkit-font-smoothing: subpixel-antialiased;
	color:#78ab78; 
  }

  h2 {
    font-size: 1.3750em;
    font-weight: 500;
    letter-spacing: 1.4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
    color:#78ab78; 
  }

  h3{
	font-size: 1.0000em;
	font-weight: bold;
  }

  h1.login_head{
  padding: 25px 20px 25px 40px;
}

  p {
	  color: #f1f1f1;
  }

  .p-form {
	color:  #333333;
}


#MenuButtons {
	/*background-color: rgba(209,180,115,1);*/
	background-color: #002d45;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
	padding-right: 40px;
}

#MenuButtons a {
	color: white;
	text-decoration: none;
	padding-left: 10px;
}

#MenuButtons a:hover {
	text-decoration: underline;
}


#button-upload {
    background-color: #be1f1c;
	border-radius: 5px;
	padding: 4px;
}

#button-logout{
	border-radius: 5px;
	padding: 4px;
    color: #f1f1f1;
	border: 2px solid #f1f1f1;
}

.frame {
	width: 100%;
	height: 100%;
	border: 0;
	border: none;
  }


/*Style Register heading*/
.simple_head {
	padding: 20px 20px 25px 40px;
}




.simple_form {
	margin: auto;
	width: fit-content;
	text-align: left;
	font-family: 'Montserrat', sans-serif;	
}

.simple_form input, .simple_form select, .simple_form textarea{
	width: 100%;  
	font-family: "Lato";
	font-size: 24px;
}



/*Delete space or gap between Remember Me and checkbox*/
.simple_form input[type=checkbox]{
	width: unset;
}

.simple_form #submit, .simple_button, .login_form #submit{
	font-family: 'Montserrat', sans-serif;	
	background-color: #78ab78;
	color: white;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 6px;
}

.simple_form #submit:hover{
	/*background-color: #bb9c57;*/
	background-color:#be1f1c;
	cursor: pointer;
}

.simple_table{
	padding-left: 40px;
}


.complex_form input, .complex_form select, .complex_form textarea{
	width: 600px;
	max-width: 90%px;
	font-size: 14px;
}

.complex_form textarea{
	height: 10em;
}


.basemaps_head{
	margin-top: 5px;
	margin-bottom: 15px;

}

.basemaps_button{
	background-color: rgb(170, 115, 93);
	color: white;
	padding: 10px;
	border-radius: 6px;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

.basemaps_button:hover{
	background-color: rgb(158, 104, 81);
}

div .offences_button{
	width: 300px !important;
}



.new_user_button{
	width: 200px;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;

}

.new_user_button a{
	padding-left: 10px;
	padding-right: 10px;
}

.simple_form ul {
	list-style: none;
}

.simple_form ul li input{
	width: 30px;
}

.login_head {
	text-align: center;
	padding: 20px 0px 0px 0px;
}

.login_form {
	text-align: center;
	/* font-size: 24px; */
	padding: 35px 25px 25px;
}

.login_form input[type='text'],.login_form input[type='password'] {
	font-size: 20px;
	width: 100%;
}


label[for="remember"] {
	padding: 5px;
	/*border: 1px solid #bbb;*/
	border-radius: 3px;
	cursor: pointer;
	color: #888;
}

label[for="remember"]:hover {
	color: #555;
	background-color: #eee;
}

label[for="remember"]:checked {
	background-color: #3db864;
}

#FlashMessages {
	*text-align: center;
	padding-top: 30px;	
	
}

#FlashMessages li{
	list-style: none;
}

input#remember {
	/*display: none;*/
}

tr:nth-child(odd){
	/*background-color: #e8d2a0aa;*/
	background-color: #8b9b6c;
	
}

tr:nth-child(even){
	/*background-color: #e8d2a055;*/
	background-color: #e8ebe1;
}



#loadIndicator{
  position: absolute;
  top: 45%;
  left: 47.5%;
  pointer-events: none;
}

.hidden{
  opacity: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
}


.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #602020 !important;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* ---------------------------------------------------
  BODY STYLE: dashboard.html
----------------------------------------------------- */
  /**STYLING BODY (Generic)*/
  div.container-cards{
	background-color: #e8ebe1;
	color: #576D70;
	margin: 20px;
	text-align: center;
	height: 260px;
	width: auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
	padding: 0px 15px 30px 15px; 
	opacity: 50%; 
	  
  }

  /*Styling CARDS*/
  .container-cards {
	background-color: #f2f2f2;
	height:auto;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	margin: 30px 0px 30px 0px;
	border-radius: 5px;
  }

  .card-content-primary.js-card-content-primary{
	width: 400px;
  }

  /*Styling Primary Card Shape*/
  .card-content-primary  {
	background-color: #333333;
	color: #576D70;
	display: inline-block;
	margin: 20px;
	text-align: center;
	height: 260px;
	width: auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
	padding: 0px 15px 30px 15px;  
  }

  .card-content-primary:hover  {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	background-color: #8CA4A9;
	color: #EC808D;
	display: inline-block;
	margin: 20px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
  }

  /*Styling Secondary Cards Shape*/
  .card-content-secondary  {
	background-color: #002d45;
	color: #576D70;
	display: inline-block;
	margin: 20px;
	text-align: center;
	width: 200px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
	padding: 0px 10px 30px 10px;
  }

  .card-content-secondary:hover  {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	background-color: #be1f1c;
  }

  .frame-dash {
	width: 100%;
	height: 50%;
	border: 0;
	border: none;
  }

  /*Style charts*/
  div.chartjs-wrapper{
	width: 400px;
	height: 400px;
  }

  h2{
	  padding: 20px 0px 0px 0px;
  }

  /*Style Button-filter */
  .btn-primary{
	background-color: #8c9b6c;
	border-color:  #8c9b6c;
  }

  .btn-primary:hover{
	background-color: #be1f1c;
	border-color: #be1f1c;
  }

  ul.dropdown-menu.show{
	background-color: #002d45;
  }
  
  a.dropdown-item:hover{
	background-color: #be1f1c;
  }

  label{
	color: #333333;
  }

  /*Style Login form*/
	#col-img.col-md-4{
		background-image: url('/static/img/carrot2.jpg');
		/*Center and scale the image*/
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		
	}

	div.col-md-8{
		background-color: #eae9d7;

	}

	form.container{		
		padding: 20px 15px 20px;	
	}

	 .simple_form #input {
		width: fit-content; 	
	} 
	
	/*Style Registration Form*/
	form.simple_form{
		padding: 20px 60px 20px;	
	}


