@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.5px;
    -webkit-font-smoothing: subpixel-antialiased; 
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.line-vertical {
    height: 20px;
    border-left: 1px solid #ddd;
    margin: 10px 10px 0px 0px;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #a52b2a;
  color: #f2f2f2;
  transition: all 0.3s;
}

#sidebar.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;   
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #a52b2a;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #78ab78;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #f2f2f2;
}

#sidebar ul li a:hover {
    color: #78ab78;
    background: #f2f2f2;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #78ab78;
    background: #dbdbdb;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

a.dropdown-toggle {
  white-space: normal;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #78ab78;
    color: #f2f2f2;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#sidebar a.download {
    background: #fff;
    color: black;
}

a.intranet,
a.intranet:hover {
    background: #78ab78 !important;
    color: #fff !important;
}

strong {
    font-size: 1em !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

ul {
    list-style-type: none;
}

/*Style ICON_Footer*/
a {
  padding: 20px 20px 0px 0px;
  color:  #727063;
}

a:hover {
    color:#EC808D;
  }


.inlineblock {
    border: 2px solid #576d70;
    display: block;
}

p {
    color: #727063;
}

li.nav-item {
   padding: 10px 0px 0px 0px; 
}

/*Display Graph List Block*/
a.graph-list{
    display: block;
}


.frame {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 100vh;
    border: none;
  }


/*Style Toogle Sidebar*/
button#sidebarCollapse.btn.btn-info{
    color: white;
    border:  2px solid #a52b2a;
    background:  #a52b2a;
}

/*Style button GET STARTED*/
.btn {
color: #78ab78;
border:  2px solid #78ab78;
}

.btn:hover {
    color: white;
    border:  2px solid #78ab78;
    background: #78ab78;
    }

/*Style Card COLOR*/


    .color-card-background {
       height: 100px;
    }

    .color-card-title {
    padding: 1.25rem;
    height: 100px;
    }


/*---------------------------------------------------
GUIDELINES_DesignPrinciples
----------------------------------------------------- */

  /*Style Container-Core*/
  .container-core {
    background-color: #fdf6e3; 
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    color: #333333;
  }
  

  /*Style IMAGES_LawsUX*/
  .img-thumbnail-LawsUX {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 60%;
    height: auto;
  }

  /*Style IMAGES_WhatUX*/
  .img-thumbnail-WhatUX {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
  }

  /* Mediaqueries_RESPONSIVE BREAKPOINTS for IMAGES_LawsUX */
      @media screen and (max-width: 768px) {
        /*Style IMAGES_LawsUX*/
        .img-thumbnail-LawsUX {
          padding: .25rem;
          background-color: #fff;
          border: 1px solid #dee2e6;
          border-radius: .25rem;
          max-width: 30%;
          height: auto;
        }
      }


/* ---------------------------------------------------
  STYLES_ICONS
----------------------------------------------------- */
.fa-tree.mr-3 {
  font-size: 2.5rem;
}

.fas.fa-home.mr-3{
  font-size: 2.5rem;
}

.fas.fa-envelope.mr-3{
  font-size: 2.5rem;
}

.fas.fa-phone.mr-3{
  font-size: 2.5rem;
}

.fab.fa-facebook-square.mr-3{
  font-size: 2.5rem;
}

.fab.fa-linkedin.mr-3{
  font-size: 2.5rem;
}




/* ---------------------------------------------------
  STYLES_TYPOGRAPHY
----------------------------------------------------- */
   #container-typeface {
     background-color: #fdf6e3;
     padding: 20px 20px 20px 20px;;

   }

   li.typography {
    font-family:'URWFranklinGothicW01-Bk_927768';
    font-size: 20px;
    color: #727063;

   }


   .th-h1 {
    font-size: 56px;
    font-weight: 500;
    letter-spacing: 1.4px;
    font-family: "URWFranklinGothicW01-Bk_927768";
    font-style: normal;
    text-align: left;
    padding: 60px 20px 7.5px;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #727063;
   }

   .th-h2 {
    font-size: 52px;
    font-weight: 500;
    letter-spacing: 1.4px;
    font-family: "URWFranklinGothicW01-Bk_927768";
    font-style: normal;
    text-align: left;
    padding: 60px 20px 7.5px;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #727063;
   }

   .th-h3 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1.4px;
    font-family: "URWFranklinGothicW01-Bk_927768";
    font-style: normal;
    text-align: left;
    padding: 30px 20px 7.5px;
    -webkit-font-smoothing: subpixel-antialiased;;
    color: #727063;
   }

   .th-h4 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.4px;
    font-family: "URWFranklinGothicW01-Bk_927768";
    font-style: normal;
    text-align: left;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #727063;
   }

   .th-h5 {
    font-size: 17.6px;
    font-weight: 600;
    letter-spacing: 1.4px;
    font-family: "URWFranklinGothicW01-Bk_927768";
    font-style: normal;
    text-align: left;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #727063;
   }

   .th-p-default {
    font-size: 17px; 
    font-weight: 400;
    letter-spacing: 0.30px;
    font-family: 'Raleway';
    text-align: left;   
    padding: 0px 20px 7.5px;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #727063;
   }

   .th-p-container {
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 1.4px;
    font-family: 'URWFranklinGothicW01-Bk_927768';   
    font-style: normal;
    -webkit-font-smoothing: subpixel-antialiased;  
    color: #727063;
   }

   .th-a {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.30px;
    font-family: 'Raleway';
    line-height: 24.7px;
    -webkit-font-smoothing: subpixel-antialiased;
    color:  #727063;
   }

   .th-li-showText {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1.4px;
    font-family: "URWFranklinGothicW01-Bk_927768";
    font-style: normal;
    transform: skew(0deg);
    color: #727063;
   }

   .th-li-nav-link {
    font-size: 17px;
    font-weight: 600;  
    letter-spacing: 1.5px;
    font-family: "URWFranklinGothicW01-Bk_927768";  
    font-style: normal;
    white-space: nowrap; 
    padding: 10px 0px 16px 0px;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #727063;;
  }  
  
  .th-strong{
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-family: "URWFranklinGothicW01-Bk_927768";
    font-style: normal;
    color: #727063;
  }

  .th-thick {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: "URWFranklinGothicW01-Bk_927768";
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: subpixel-antialiased;
    color:#727063;
}

  .th-italic{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-family: "URWFranklinGothicW01-Bk_927768";
    font-style: normal;
    font-style: italic;
    color: #727063;
  }



/* ---------------------------------------------------
  COMPONENT_CARD 
----------------------------------------------------- */

  /**SHAREPOINT PAGE**/
    /*STYLING BODY*/
    /*STYLING FONT_SharePointPage*/
    /*Font Card*/
    h4 {
      color: #f2f2f2;
      font-family: "URWFranklinGothicW01-Bk_927768";
      font-size: 1.5rem;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 1.5px;
      -webkit-font-smoothing: subpixel-antialiased;
    }

    h4:hover {
      color: #EC808D;
    }

     /*Icons*/
    .fas.fa-braille.fa-4x {
      color: #6496a0;
      margin: 0px 40px 80px 50px;
    }
 
    .fas.fa-tree.fa-3x {
      color: #EC808D;
      margin: 0px 40px 80px 50px;
    }
    /*STYLING FONT_SharePointPage*/

    /*Styling CARDS*/
    .container-cards {
      background-color: #f2f2f2;
      height:auto;
      width: auto;
      margin-right: auto;
      margin-left: auto;
      padding: 0px 20px 40px 0px;
      margin: 30px 0px 30px 0px;
      border-radius: 5px;
    }

    /*Styling Primary Card Shape*/
    .card-content-primary {
      background-color: #333333;
      color: #576D70;
      display: inline-block;
      margin: 20px;
      text-align: center;
      height: 260px;
      width: auto;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 5px;
      padding: 0px 15px 30px 15px;
    }

    .card-content-primary:hover  {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      background-color: #8CA4A9;
      color: #EC808D;
      display: inline-block;
      margin: 20px;
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 5px;
    }

    /*Styling Secondary Card Shape*/
    .card-content-secondary  {
      background-color: #333333;
      color: #576D70;
      display: inline-block;
      margin: 20px;
      text-align: center;
      height: 260px;
      width: 200px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 5px;
      padding: 0px 10px 30px 10px;
    }

    .card-content-secondary:hover  {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      background-color: #8CA4A9;
    }

    /*Style Text Card*/
    .p-card {
      font-family: 'Raleway';
      text-align: center;
      color: #727063;
      font-size: 17px;
    }

    .p-card:hover {
      font-family: 'Raleway';
      text-align: center;
      color: #EC808D;
    }

    /*Style Image Card*/
    .card-image {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }

    /* Makes sure the Card link doesn't get underlined */
    a.cardLink{
      text-decoration: none;
      z-index: 10;  /* raises anchor tag above everything else in div */
    }
    /*Styling CARDS*/
  /**SHAREPOINT PAGE**/
  
  
  /**COMMUNITY PAGE**/
    /*Styling ROW Content*/
    .container-community {
      padding: 30px 160px 60px 160px;
    }

    /*Card Title*/
    h5 {
      font-family: "URWFranklinGothicW01-Bk_927768";
      font-size: 17.6px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 1.4px;
      -webkit-font-smoothing: subpixel-antialiased;
      color: #f2f2f2; 
    }

    /*Styling Card Shape*/
      div.card {
        width: 400px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        height: auto;
        background-color: inherit;
        border-radius: 5px;
      }

      .card-horizontal{
        display: flex;
        flex: 1 1 auto;
      }

      .card-body{
        padding: 20px 10px 10px 18px;
        background-color: #333333;
      }
    
      .card-body:hover{
        padding: 20px 10px 10px 18px;
        background-color: #8CA4A9;
      }

      .card-text {
      padding: 0px 0px 0px;
    }

    /*Styling Image Card*/
     .img-square-wrapper{
      background-color: #dbdbdb;
      }

      .card-img-community{
      flex: 0 auto; 
      float: right;
      height: 24vh;
      width: 24vh;
      background-color: #dbdbdb;
      object-fit:cover;  
    }

    /*Card Content text*/
    p.card-text {
      font-size: 17px;
      font-weight: 400;
      letter-spacing: 0.30px;
      font-family: 'Raleway';
      text-align: left;
      -webkit-font-smoothing: subpixel-antialiased;
      color: #727063;
    }   
   
    /*Styling Button*/
    .btn {
      border: 1px solid#78ab78;
    }

    .btn-primary{
      font-size: 17px;
      font-weight: 500;
      letter-spacing: 0.30px;
      font-family: 'Raleway';
      -webkit-font-smoothing: subpixel-antialiased;
      background-color:#576d7000;
      margin: 0px 0px 0px 0px;
      color:#78ab78;
    }

      .btn-primary:hover{
      background-color: #78ab78;
      border-color: #78ab78;
    }
  
    /*Styling Switch Content*/
      .carousel-multi-item .controls-top{
        text-align: center;
      }

      i.fas.fa-chevron-left {
        font-size: 2rem;
        padding: 0px 15px 0px 15px;
      }

      i.fas.fa-chevron-right {
        font-size: 2rem;
        padding: 0px 15px 0px 15px;
      }

      .carousel-multi-item .carousel-indicators{
        margin-bottom: -2em;
      }

      .carousel-indicators {
      position: absolute;
      right: 0;
      left: 0;
      z-index: 15;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      padding-left: 0;
      margin-right: 15%;
      margin-left: 15%;
      list-style: none;
    }

    /*Styling DIVIDER_Community*/
    .divider-community {
      border-top: 1px solid #6496a0;
      width: 35%;
      margin: auto;
    }

    /*Styling MODAL*/
    h5.modal-title {
      font-size: 17.6px;
      font-weight: 600;
      letter-spacing: 1.4px;
      font-family: "URWFranklinGothicW01-Bk_927768";
      font-style: normal;
      -webkit-font-smoothing: subpixel-antialiased;
      color: #727063;
    }

    div.modal-body {
      font-size: 17px;
      font-weight: 400;
      letter-spacing: 0.30px;
      font-family: 'Raleway';
      text-align: left;
      padding: 0px 20px 7.5px;
      -webkit-font-smoothing: subpixel-antialiased;
      color: #727063;
    }

  /**COMMUNITY PAGE**/



/* ---------------------------------------------------
  COMPONENT_NAVIGATION
----------------------------------------------------- */

 /*Modify BACKGROUND_Navbar*/
  .navbar-custom {
    background-color: #dbdbdb;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    height: 70px;
    z-index: 1;
  }

  /*Style LOGO*/
  .navbar-brand{
    padding: 8px 20px 8px;
    width: 236px;
    align-content: center;
  }

  .navbar-brand:hover{
    padding: 8px 20px 8px ;
    width: 236px;
    background-color: #8CA4A9;
  }
             
  /*Style NAV BAR BODY*/
  .navbar-light .navbar-nav
  .active>.nav-link, .navbar-light .navbar-nav
  .nav-link.active, .navbar-light
  .navbar-nav .nav-link.show, .navbar-light
  .navbar-nav .show>.nav-link:hover {          
    color: #576d70;
  }
              
  /*Style HOME (level 1) */
  li.nav-item2.active  {
    display: block;
    width: 236px; 
    height: 70px; 
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: "URWFranklinGothicW01-Bk_927768";
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    padding: 18px 0px 16px 0px;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #576d70;
  }

  li.nav-item2.active:hover {
    width: 236px;
    height: 70px;
    text-align: center;
    padding: 18px 0px 16px 0px;
    background-color: #8CA4A9;
    color: #f1f1f1;
  }
              
  /*Style PORTAL Dropdown + MAPS VIEWER Dropdown (level 1)*/
  a#navbarDropdown.nav-link.dropdown-toggle {
    width: 236px;
    height: 70px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: "URWFranklinGothicW01-Bk_927768";
    padding: 16px 0px 16px 0px;
    text-align: center;
    font-style: normal;
    text-transform: capitalize;
    white-space: nowrap;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #576d70;
  }

  a#navbarDropdown.nav-link.dropdown-toggle:hover,
  a#navbarDropdown.nav-link.dropdown-toggle:focus {  
   top: 0;
    width: 236px;
    height: 70px;
    padding: 18px 0px 18px 0px;
    background-color: #8CA4A9;
    color: #f1f1f1;
  }

  /*Style REPORT Dropdown2 + SHAREPOINT Dropdown + PRESSROOM Dropdown2 (level 2)*/
  a#navbarDropdown2.dropdown-item.dropdown-toggle {
    width: 236px;
    height: 40px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: "URWFranklinGothicW01-Bk_927768";
    padding: 8px 20px 8px 20px;
    text-align: left;
    color: #576d70;
    font-style: normal;
    text-transform: capitalize;
    white-space: nowrap;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  a#navbarDropdown2.dropdown-item.dropdown-toggle:hover {
    padding: 8px 20px 8px 20px;
    width: 236px;
    height: 40px;
    background-color: #8CA4A9;
    color: #f2f2f2;
  }

  a#navbarDropdown2.dropdown-item.dropdown-toggle:focus {
    padding: 8px 20px 8px 20px;
    width: 236px;
    height: 40px;
    background-color: #8CA4A9;
    color: #576d70;
  }
 
  /*Style Dropdown2 (level 2)*/
  .dropdown-menu {
    margin-top: 0px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: "URWFranklinGothicW01-Bk_927768";
    font-style: normal;
    text-transform: capitalize;
    white-space: nowrap;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #576d70;
    background-color:#efefef;
  }

  .dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
  }

  .dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: -20%;
    margin:0 20px;
    border-width: 0;
  }

  .dropdown-menu > li a:hover,
  .dropdown-menu > li a:focus {
    background: #8CA4A9;
    color:#f1f1f1;
  }

  .dropdown-menu > li.show > a{
    color: #f1f1f1;
  }
              
  /*Style DIVIDER_DropdownMenu*/
  .dropdown-divider {
    border-top: 1px solid #6496a0;
  }

  /*Style Dropdown2 (CONTENT)*/
  .dropdown-item {
    color: #576d70;
    width: 236px;
    height: 40px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: "URWFranklinGothicW01-Bk_927768";
    font-style: normal;
    text-align: left;
    padding: 8px 26px 8px 26px;  
    text-transform: capitalize; 
    white-space: nowrap;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  .dropdown-item:hover {
    color: #576d70;
    width: 236px;
    height: 40px;
    text-align: left;
    padding: 8px 26px 8px 26px;
  }

  /*Style HAMBURGUER ICON MENU*/
  .navbar-light .navbar-toggler {
  cursor: pointer;
  border-color: #dbdbdb;
  }
  .fa-1x {
    font-size: 1.5rem;
  }
  .dark-red-text {
    color: #ef3728;
  }

  /* Mediaqueries_RESPONSIVE BREAKPOINTS for Navbar */
    /*Medium devices (tablets, 768px and up)*/
    @media (min-width: 576px) and (min-width: 768px) {
      .dropdown-menu .dropdown .dropdown-menu {
        margin:0;
        border-width: 1px;
      }
    }

    @media screen and (max-width: 768px) {
        /*Style COLLAPSE_Navbar*/
      div#navbarSupportedContent.collapse.navbar-collapse.show {
        background-color: #dbdbdb;
        height: auto;
        padding: 0px 60px 16px 60px;
      }
    }





/* ---------------------------------------------------
  DATA VISUALIZATION
----------------------------------------------------- */
  /**COLOR PALETTE PAGE**/
  .col-R {
    padding: 0px;
  }

  .color-card-title-R{
    height: 110px;   
    padding: 1.25rem;
  }

  .card-text-R {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.30px;
    font-family: 'Raleway';
    text-align: left;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #727063;
  }

  card-img-palette {
      height: auto;
      width: auto;
      object-fit:cover;
    }  
 

  /*Style frame Palette R code*/
  .frame-R {
    display: block;
    width: 100%;
    min-height: 60vh;
    border: none;
  }

  code.language-r {  
    color: #e83e8c;
  }

  pre.r{
    background-color:#fdf6e3;
  }

  code.r{
    font-size: 1em;
  }

  /**MAP CHARTS PAGE**/
  iframe.frame-map {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 90vh;
    border: none;
  }


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {

    #sidebar {
        min-width: 100px;
        max-width: 100px;
        text-align: center;
        margin-left: -100px !important;
    }

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;       
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    
    .DarkMode-button {
      width: 600px;
      height: 600px;
    }
  

}


/* ---------------------------------------------------
    DARK MODE
----------------------------------------------------- */
/* :root {
    --color-mode: 'light';
    --color-dark: #1b1e2b;
    --color-dark-alpha: rgba(0, 0, 0, 0.1);
    --color-light: #efefef;
    --color-light-alpha: rgba(255, 255, 255, 0.9);
    
    /* https://twitter.com/Una/status/1129401554732277760 */
    /* --icon-sun: url('data:image/svg+xml,\
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">\
      <path d="M18 12c0-0.811-0.161-1.587-0.455-2.295-0.304-0.735-0.75-1.395-1.303-1.948-0.552-0.552-1.213-0.998-1.948-1.303-0.707-0.293-1.483-0.454-2.294-0.454s-1.587 0.161-2.295 0.455c-0.735 0.304-1.395 0.75-1.948 1.302s-0.998 1.213-1.302 1.948c-0.294 0.708-0.455 1.484-0.455 2.295s0.161 1.587 0.455 2.295c0.304 0.735 0.75 1.395 1.303 1.948 0.552 0.552 1.213 0.998 1.948 1.303 0.707 0.293 1.483 0.454 2.294 0.454s1.587-0.161 2.295-0.455c0.735-0.304 1.395-0.75 1.948-1.303s0.998-1.213 1.303-1.948c0.293-0.707 0.454-1.483 0.454-2.294zM16 12c0 0.544-0.108 1.060-0.303 1.529-0.202 0.489-0.5 0.929-0.869 1.299s-0.81 0.667-1.299 0.869c-0.469 0.195-0.985 0.303-1.529 0.303s-1.060-0.108-1.529-0.303c-0.489-0.202-0.929-0.5-1.299-0.869s-0.667-0.81-0.869-1.299c-0.195-0.469-0.303-0.985-0.303-1.529s0.108-1.060 0.303-1.529c0.202-0.489 0.5-0.929 0.869-1.299s0.81-0.667 1.299-0.869c0.469-0.195 0.985-0.303 1.529-0.303s1.060 0.108 1.529 0.303c0.489 0.202 0.929 0.5 1.299 0.869s0.667 0.81 0.869 1.299c0.195 0.469 0.303 0.985 0.303 1.529zM11 1v2c0 0.552 0.448 1 1 1s1-0.448 1-1v-2c0-0.552-0.448-1-1-1s-1 0.448-1 1zM11 21v2c0 0.552 0.448 1 1 1s1-0.448 1-1v-2c0-0.552-0.448-1-1-1s-1 0.448-1 1zM3.513 4.927l1.42 1.42c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-1.42-1.42c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414zM17.653 19.067l1.42 1.42c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-1.42-1.42c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414zM1 13h2c0.552 0 1-0.448 1-1s-0.448-1-1-1h-2c-0.552 0-1 0.448-1 1s0.448 1 1 1zM21 13h2c0.552 0 1-0.448 1-1s-0.448-1-1-1h-2c-0.552 0-1 0.448-1 1s0.448 1 1 1zM4.927 20.487l1.42-1.42c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-1.42 1.42c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0zM19.067 6.347l1.42-1.42c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-1.42 1.42c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0z"></path>\
    </svg>');
    
    /* https://css-tricks.com/the-many-ways-to-change-an-svg-fill-on-hover-and-when-to-use-them/ */
    --icon-sun-filter: invert(0.61) sepia(0.8) saturate(5) hue-rotate(0deg) brightness(0.92);
    
    --icon-moon: url('data:image/svg+xml,\
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">\
      <path d="M21.996 12.882c0.022-0.233-0.038-0.476-0.188-0.681-0.325-0.446-0.951-0.544-1.397-0.219-0.95 0.693-2.059 1.086-3.188 1.162-0.696 0.047-1.399-0.027-2.077-0.226-0.656-0.192-1.29-0.501-1.874-0.932-0.655-0.484-1.181-1.074-1.575-1.729-0.409-0.68-0.676-1.432-0.792-2.206s-0.082-1.571 0.11-2.342c0.184-0.741 0.514-1.46 0.999-2.115 0.142-0.191 0.216-0.435 0.191-0.691-0.053-0.55-0.542-0.952-1.092-0.898-1.117 0.109-2.186 0.399-3.172 0.843-1.005 0.452-1.925 1.065-2.723 1.808-0.883 0.82-1.618 1.801-2.159 2.901-0.523 1.064-0.863 2.238-0.978 3.485-0.125 1.347 0.024 2.658 0.402 3.878 0.392 1.266 1.031 2.431 1.863 3.433s1.86 1.843 3.033 2.461c1.13 0.595 2.392 0.982 3.739 1.106s2.659-0.025 3.878-0.403c1.266-0.392 2.431-1.031 3.433-1.863s1.843-1.86 2.461-3.033c0.595-1.13 0.982-2.392 1.106-3.739zM19.567 14.674c-0.126 0.351-0.276 0.689-0.447 1.014-0.493 0.937-1.166 1.76-1.969 2.427s-1.735 1.178-2.747 1.491c-0.973 0.302-2.021 0.421-3.102 0.321s-2.089-0.41-2.99-0.884c-0.937-0.493-1.76-1.166-2.427-1.969s-1.178-1.735-1.491-2.747c-0.302-0.973-0.421-2.021-0.321-3.102 0.092-1 0.365-1.938 0.782-2.786 0.43-0.878 1.018-1.661 1.725-2.319 0.64-0.595 1.377-1.086 2.183-1.449 0.179-0.081 0.362-0.155 0.548-0.223-0.092 0.257-0.171 0.516-0.236 0.778-0.256 1.029-0.302 2.091-0.147 3.121s0.51 2.032 1.056 2.941c0.527 0.875 1.23 1.663 2.1 2.306 0.775 0.573 1.622 0.986 2.5 1.243 0.907 0.266 1.846 0.364 2.772 0.302 0.752-0.050 1.496-0.207 2.21-0.465z"></path>\
    </svg>');
    --icon-moon-filter: invert(0.75);
    
    --background: #efefef;
    --text-color: #576d70;
    --button-icon: var(--icon-moon);
    --button-icon-filter: var(--icon-moon-filter);
    --button-background: var(--color-dark);
    --button-color: var(--color-light);
    --border-color: var(--color-dark-alpha);
  }
  
  body {
    background: var(--background);
    color: var(--text-color);
    transition: background 500ms ease-in-out, color 200ms ease;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-mode: 'dark';
    }
    
    :root:not([data-user-color-scheme]) {
      --background: var(--color-dark);
      --text-color: var(--color-light);
      --button-icon: var(--icon-sun);
      --button-icon-filter: var(--icon-sun-filter);
      --button-background: var(--color-light);
      --button-color: var(--color-dark);
      --border-color: var(--color-light-alpha);
    }
  }
  
  [data-user-color-scheme="dark"] {
    --background: var(--color-dark);
    --text-color: var(--color-light);
    --button-icon: var(--icon-sun);
    --button-icon-filter: var(--icon-sun-filter);
    --button-background: var(--color-light-alpha);
    --button-color: var(--color-dark);
    --border-color: var(--color-light-alpha);
  }
  
  /* Remove _all_ animations and transitions for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    body {
      scroll-behavior: auto;
    }
  
    * {
      -webkit-animation: none !important;
      animation: none !important;
      transition: none !important;
    }
  }
  
  /* If there’s no JS, there’s no need for the user toggle component to show */
  .no-js .user-toggle {
    display: none;
  }
  
  .user-toggle {
    max-width: 20rem;
    border-top: 0px solid var(--border-color);
    text-align: center;
    
  }
  
  .toggle-button {
    display: inline-flex;
    background: var(--button-background);
    color: var(--button-color);
    border: none;
    font: inherit;
    padding: 0.5rem 1rem;
    transition: background 500ms ease-in-out, color 200ms ease;
    border-radius: 10px;
  }
  
  .toggle-button__icon {
    background: var(--button-icon);
    width: 1.2em; 
    height: 1.2em;
    margin: 0 0 0 0.5em;
    filter: var(--button-icon-filter);
    transform: translateY(1px); /* Optical adjustment */
    transition: filter 500ms ease-in-out;
  }
  
  .toggle-button:focus {
    outline: 1px solid var(--button-background);
    outline-offset: 0.5rem;
  }
  

  
  /* Presentational styles */
   
  article {
    max-width: 125ch;
    margin: 0 auto;
  }
  
  article > * + * {
    margin-top: 1em;
  }
  
  h1 {
    font-size: 2.5rem;
    line-height: 1.1;
  }
  
  p {
    font-size: 1.2rem;
    opacity: 0.9;
  }
  
  code {
    font-weight: 700;
    font-size: 1.3em;
    white-space: pre;
  } */
  
  .visually-hidden { 
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute;
  }
 */
