{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}"/>
{% endblock %}

{% block content %}
<div id="welcome">
    <h2>Admin Options</h2>
</div>
<div id="buttons">
    <div class="link_set">
		<div class="home_button" onclick="location.href='{{ url_for('register_user') }}'">
		    <p>
				<i class="fas fa-plus fa-2x"></i>
			<p>Create <br>New <br>User/Device</p>
		</div>

		<div class="home_button" onclick="location.href='{{ url_for('users') }}'">
		    <p>
				<i class="fas fa-user-cog fa-2x"></i>
			<p>Manage <br>Current Users</p>
		</div>
	</div>
</div>
{% endblock %}
