<!-- HTML5 Doctype for Boostrap requirements-->
<!doctype html>
<html lang="en">

<head>
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Home | Ag Logic</title>
    {% endif %}
<!-- Required meta tags for proper responsive behaviors -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <!-- X-UA-Compatible Meta Tag Description helps render WEB PAGES in older IE BROWSERS -->
    <!---- X-UA-Compatible is a document mode meta tag that allows web authors to choose what version of Internet Explorer the page should be rendered as.---->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


<!-- CSS STYLE-->   
    <!-- ADDING BoostrapCDN FRAMEWORK TO LOAD CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--ADDING AG LOGIC CSS STYLE -->
    <!-- <link rel="stylesheet" href="css/StyleDSM.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}"/>

    <!--ANIMATE DROPDOWN MENU on HOVER with Animate.css (required by plugin)-->
    <link rel="stylesheet" href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css">

    <!-- ADDING FONT AWESOME for ICONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- ADDING New FONT: "URWFranklinGothic" -->
     <style type="text/css">
        @font-face {
            font-family: "URWFranklinGothicW01-Bk_927768";
            src: url("Fonts/927768/dc1077fd-bfe0-4570-8c82-59130dba2361.eot?#iefix");
            src: url("Fonts/927768/dc1077fd-bfe0-4570-8c82-59130dba2361.eot?#iefix") format("eot"), url("Fonts/927768/a8fced08-f364-48be-8dd3-f1460c461a62.woff2") format("woff2"), url("Fonts/927768/3f3f705a-1dd5-40cf-b761-fbcb0b37950f.woff") format("woff"), url("Fonts/927768/f884725a-431d-4577-b907-0c91a3dd4bd8.ttf") format("truetype");
        }
    </style>
      
    {% block css %}{% endblock %}
    <style type="text/css">
    </style>

    <!-- OPTIONAL JAVASCRIPTS -->
        <!-- jQuery First, CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Popper.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- Plugin by Boostrap JavaScripts-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    <!-- OPTIONAL JAVASCRIPTS -->

    <!-- SCRIPTS -->

    <!-- JavaScript for TOGGLE SIDEBAR -->
    <script>
               
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
        });
    </script>

        <!-- JavaScript for DARKMODE -->
        <!-- <script type="text/javascript" href="{{ url_for('static', filename='js/dark.js') }}">
        </script> -->
        <script type="text/javascript" src="{{url_for('static', filename='js/dark.js')}}"></script>
        {% block scripts %}{% endblock %}

        <script type="text/javascript"></script>
    <!-- SCRIPTS -->

</head>

<!-- BODY  -->
<body>
    
    <!-- SIDEBAR MENU  -->
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Seed Crop Isolation</h3>
                <strong>AG LOGIC</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="{{ url_for('aglogic') }}">
                        <i class="fas fa-seedling"></i>
                        Home
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('register_user') }}">
                        <i class="fas fa-border-style"></i>
                        Register
                    </a>

                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-map-marked-alt"></i>
                        Map
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="Guidelines.html">Overview</a>
                        </li>
                        <li>
                            <a href="DesignPrinciples.html">Design Principles</a>
                        </li>
                        <li>
                            <a href="Accessibility.html">Accessibility</a>
                        </li>
                    </ul>


                    <!-- <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-tree"></i>
                        Styles
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li>
                            <a href="Styles.html">Overview</a>
                        </li>
                        <li>
                            <a href="Layout.html">Layout</a>
                        </li>
                        <li>
                            <a href="Colors.html">Colors</a>
                        </li>
                        <li>
                            <a href="Icons.html">Icons</a>
                        </li>
                        <li>
                            <a href="Typography.html">Typography</a>
                        </li>
                    </ul> -->


                    <!-- <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-tree"></i>
                        Components
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3">
                        <li>
                            <a href="Components.html">Overview</a>
                        </li>

                        <li>
                            <a href="Button.html">Button</a>
                        </li>
                        <li>
                            <a href="Card.html">Card</a>
                        </li>
                        <li>
                            <a href="Navigation.html">Navigation</a>
                        </li>
                        <li>
                            <a href="Tabs.html">Tabs</a>
                        </li>
                    </ul> -->

                    <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-chart-bar"></i>
                        Data Visualization
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu4">
                        <li>
                            <a href="DataVisualization.html">Overview</a>
                        </li>
                        <li>
                            <a href="ChartTypes.html">Chart Types</a>
                        </li>
                        <li>
                            <a href="GraphScripts.html">Graph Scripts</a>
                        </li>
                        <li>
                            <a href="MapCharts.html">Map Charts</a>
                        </li>
                        <li>
                            <a href="Palettes.html">Palettes</a>
                        </li>
                    </ul>


                </li>

                <!-- <li>
                    <a href="#">
                        <i class="fas fa-border-all"></i>
                        Templates
                    </a>
                </li> -->
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="download">Download csv</a>
                </li>
                <li>
                    <a href="" class="intranet"
                        target="blank" rel="noopener noreferrer">Back to </a>
                </li>
            </ul>
        </nav>
    <!-- SIDEBAR MENU  -->

    <!-- TOGGLE SIDEBAR CONTENT  -->
        <div id="content" class="active">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                             data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="" target="blank"
                                    rel="noopener noreferrer" title="TPPLWebsite">
                                    <i class="fas fa-globe mr-2"></i>AG LOGIC Website
                                </a>
                            </li>

                            <div class="line-vertical"></div>
                            <li class="nav-item">
                                <a href="https://www.facebook.com/timberlandspacific/" target="blank"
                                    rel="noopener noreferrer" title="Facebook">
                                    <i class="fab fa-facebook-square mr-2"></i>@
                                </a>
                            </li>

                            <div class="line-vertical"></div>
                            <li class="nav-item">
                                <a href="https://au.linkedin.com/company/timberlands-pacific-pty-ltd" target="blank"
                                    rel="noopener noreferrer" title="linkedin">
                                    <i class="fab fa-linkedin mr-2"></i>AG
                                </a>
                            </li>

                            <div class="line-vertical"></div>
                            <!-- <li class="user-toggle">
                                <div role="status" class="[ visually-hidden ][ js-mode-status ]"></div>
                                    <button class="[ toggle-button ] [ js-mode-toggle ]">
                                        <span class="[ toggle-button__text ] [ js-mode-toggle-text ]">Dark mode</span>
                                        <span class="toggle-button__icon" aria-hidden="true"></span>
                                    </button>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
    <!-- TOGGLE SIDEBAR CONTENT  -->

    <!-- PAGE CONTENT  -->
        <article>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h1>Seed Crop Isolation</h1>
                        
                        <p>Advance tool for modern agriculture</p>
                       
                        
                        <a href="{{ url_for('register_user') }}" class="btn btn-outline-*" role="button">Register</a>
                        <a href="{{ url_for('security.login') }}" class="btn btn-outline-*" style="background-color:#78ab78; color: #fafafa" role="button">Sign in</a>
                    </div>

                    <div class="col-md-4" align="center">
                            
                            <i class="fas fa-seedling fa-10x" style="color:#78ab78"></i>
                    </div>
            </div>

            <div class="line"></div>

            <!-- GUIDES -->
            <div class="container-fluid">
                <br>
                
                <div class="row justify-content-around">
                    <div class="col-md-4">
                        <h2>Map Access</h2>
                        <br>
                        <div class="card bg-light mb-3" style="width: 18rem;">
                            <div class="card-header">
                                <p class="card-text">Web mapping tool for enhancing the management of crop isolation.</p>
                                <a src="/map" class="btn btn-primary">Map</a>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-4">
                        <h2>Guidelines</h2>
                        <br>
                        <div class="card bg-light mb-3" style="width: 18rem;">
                            <div class="card-header">
                                <p class="card-text">Follow these practical guides to get started with the web mapping tool.</p>
                                <a href="Styles.html" class="btn btn-primary">Guide</a>
                            </div>
                        </div>
                    </div>
                
                    <!-- <div class="col-md-4">
                        <h2>Components</h2>
                        <br>
                        <div class="card bg-light mb-3" style="width: 18rem;">
                            <div class="card-header">
                                <p class="card-text">Discover all the different components that the Design System provides. Find design & code based
                                components.</p>
                                <a href="Components.html" class="btn btn-primary">Components</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h2>Data Viz</h2>
                        <br>
                        <div class="card bg-light mb-3" style="width: 18rem;">
                            <div class="card-header">
                                <p class="card-text">TPPL charts help you tell accurate and convincing stories around data with beautiful and accessible visualizations.</p>
                                <a href="DataVisualization.html" class="btn btn-primary">Data Visualization</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

                
            </div>
        </article>
    
        <div class="line"></div>
      
    <!-- PAGE CONTENT  -->
  
       
</body>
<!-- BODY  -->

</html>