<html>
  <head>
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Foric Planter</title>
    {% endif %}

    <!-- Required meta tags for proper responsive behaviors -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <!-- X-UA-Compatible Meta Tag Description helps render WEB PAGES in older IE BROWSERS -->
    <!---- X-UA-Compatible is a document mode meta tag that allows web authors to choose what version of Internet Explorer the page should be rendered as.---->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link href="https://fonts.googleapis.com/css?family=Acme|Julius+Sans+One|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- ADDING BoostrapCDN FRAMEWORK TO LOAD CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--ADDING Forico CSS STYLE -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/external/datatables.css') }}"/>

    <!--ADDING Forico FONT STYLE -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

    <!--ADDING FONT AWESOME STYLE -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
 
    {% block css %}{% endblock %}

    <style type="text/css">
    </style>

    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <!-- jQuery First, CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.js-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <!-- Plugin by Boostrap JavaScripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script> 

     
    {% block scripts %}{% endblock %}

    <script type="text/javascript">

    function init(){
      {% block initjs %}{% endblock %}
    }

    </script>

  </head>
  <body onload="init()" >
    <div id="banner">
             
        <div id="AppHeadingText" style=" padding: 20px 0px 20px 125px;">
          <h1>      
            <i class='fa fa-leaf'></i> geoTree Planting
          </h1>
        </div>
     
        <div id="MenuButtons">
          <div class='flex_left'>           
            <a href="{{ url_for('index') }}">Home</a>          
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Create
            </a>         
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{{ url_for('register_user') }}">User</a></li>
                <li><a class="dropdown-item" href="{{ url_for('index') }}">Device</a></li>             
            </ul>
            <a href="{{ url_for('aglogic') }}">aglogic</a> 

            {% if current_user.is_anonymous %}
            {% else %}
            {% if current_user.is_admin() %}
              <a href="{{ url_for('dashboard') }}">Dashboard</a>
              <a href="{{ url_for('map') }}" id="button-upload" role="button" aria-pressed="true">Upload coupe </a>
              <a href="{{ url_for('upload') }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a>
            {% endif %}
            {% endif %}
          </div>

          <div class='flex_right'>
            {% if current_user.is_anonymous %}
              <a  href="{{ url_for('security.login') }}">Login</a>
            {% else %}
                {% if current_user.is_admin() %}
                  <a href="{{ url_for('admin_page') }}">Manage</a>
                {% else %}
                  <a href="{{ url_for('user', username=current_user.username) }}">User Settings</a>
                {% endif %}

              <a href="{{ url_for('security.logout') }}" id="button-logout">Logout</a>
              <!-- <div style="float:right; color:white; font-style: italic; padding-top:5px; padding-right: 10px;">Welcome {{ current_user.username }}</div> -->
              
            {% endif %}
          </div>
        </div>
      
    </div>
       
    <div class="container" style="max-width: 700;">
      <div id="FlashMessages">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flashes">
              {% for message in messages %}
              <div class="alert alert-info{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
      </div>
    
      <div id='content'>
        {% block content %}{% endblock %}
      </div>

      
  </div>

</body>
</html>
