{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}"/>   
{% endblock %}


{% block content %}   
    <div id="buttons">       
        <div class="link_set">               
          HOLA
        </div>           
    </div>
{% endblock %}