{% extends "base2.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">           
            <h1>Log in to Seed Crop Isolation web GIS tool</h1>
        </div>

        <div class="row justify-content-center">  
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </form>
            <!-- <form action="" method="post">
                <input type="text" placeholder="Username" name="username" value="{{
                  request.form.username }}">
                 <input type="password" placeholder="Password" name="password" value="{{
                  request.form.password }}">
                <input class="btn btn-default" type="submit" value="Login">
            </form>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %} -->
        </div>

        <div class="row justify-content-center">
            Don't have an account yet?
            <a href="{{ url_for('register_user') }}"> Register</a>
        </div>       
    </div>
{% endblock %}

