{% extends "base2.html" %}

{% block content %}
<div class="container">
	<h1 class="simple_head">Users</h1>
	{% if users %}
	<div class="record_action_button new_user_button">
		<a href="{{ url_for('register_user') }}">Add New User</a>
	</div>
	<br>
	<div class="table-responsive-md">
		<table class="simple_table">
			<th>
				<tr style="font-weight: bold">
					<td>Actions</td>
					<!-- <td>id</td> -->
					<td>User name</td>
					<td>email</td>
					<td>Active</td>
					
				</tr>
			</th>
			{% for user in users %}
				<tr>
					<td>
						<div class="record_action_button">
							<a href="{{ url_for('user', username=user['username']|string ) }}">Edit</a>
						</div>
						<!-- <a href="{{ url_for('user', username=user['username']|string ) }}">Delete</a> -->
					</td>
					<!-- <td>{{ user['id'] }}</td> -->
					<td><!-- <a href="{{ url_for('user', username=user['username']|string ) }}"> -->{{ user['username'] }}</a></td>
					<td>{{ user['email'] }}</td>
					<td>{{ user['active'] }}</td>
				</tr>
			{% endfor %}
		</table>
    </div>
	{% endif %}
</div>
{% endblock %}