
{% extends "base2.html" %}

{% block content %}
    <div class="row justify-content-center">
        <h1 class="simple_head">Register User</h1>
    </div>
    <div class="row justify-content-center">
        <form class="simple_form" action="" method="post">
            {{ form.hidden_tag() }}
            <p  class="p-form">
                {{ form.username.label }}<br>
                <!-- {{ form.username(size=32) }}<br> -->
                {{ form.username(size=32, placeholder="any name") }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="p-form"></p>
                {{ form.email.label }}<br>
                {{ form.email(size=64, placeholder="youremail@email.com") }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="p-form"></p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="p-form"></p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            {% if action != 'Add' %}
            <p class="p-form"></p>
                <span> {{ action }} </span>
                {{ form.authkey.label }}<br>
                {{ form.authkey(size=64) }}<br>
                {% for error in form.authkey.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            {% endif %}
            <!-- FORCE TRUE FOR DEV ONLY! -->
            {% if True %}
            {# if current_user.is_admin() #}
            <p class="p-form"></p>
                {{ form.role.label }}<br>
                {{ form.role }}<br>
                {% for error in form.role.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            {% endif %}      
            <p>{{ form.submit() }}</p>
        </form>
    </div>

   
{% endblock %}